
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <h3>@ViewBag.Fecha</h3>
    <h1>Bienvenidos El Rey Can</h1>
    @Html.ActionLink("Ir al listado de Turnos", "Index", "Turno")

</div>
@section Aside{
    <p>Siguiendo con la higiene, es muy importante cepillar 
    periódicamente a los perros para eliminar todo el pelo muerto, 
    así como la descamación de la piel y la suciedad, elementos que 
    pueden provocar la irritación de la piel, así como el desequilibrio 
    de la flora bacteriana y su consiguiente colonización por bacterias</p>
}

